/curso_python/curso_em_video_estruturas_de_controle/.idea/
.idea
*.xml
.idea/workspace.xml
venv/bin/activate
*.csh
*.fish
*.ps1
*.swp
*.pyc
venv/bin/python
venv/bin/python3
venv/bin/python3.8
venv/lib64
venv/pyvenv.cfg
.vscode
__pycache__/
.pytest_cache/
